/IS2_SportsPub-master/sportsPub/nbproject/private/
/WebApplication1/nbproject/private/
/IS2_SportsPub-master/WebApplication1/nbproject/private/
/IS2_SportsPub-master/sportsPub/build/
/IS2_SportsPub-master/sportsPub/dist/
/Sports_pub/target/
/SportsPub/target/